################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Flattiverse.Connector/.vs
/Flattiverse.Connector/.idea
/.vs
/.idea
/Flattiverse.Connector/Development/bin
/Flattiverse.Connector/Development/obj
/Flattiverse.Connector/Flattiverse.Connector/bin
/Flattiverse.Connector/Flattiverse.Connector/obj
/Flattiverse.Connector/Development/bin
/Flattiverse.Connector/Development/obj
